
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/GiaoDien/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/GiaoDien/styles/contact_responsive.css">

<div class="container contact_container">
    <div class="container">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang Chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Tin Tức</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="blogs">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title">
                        <h2>TRANG TIN TỨC</h2>
                    </div>
                </div>
            </div>
            <div class="row blogs_container">
                <div class="col-lg-4 blog_item_col">
                    <div class="blog_item">
                        <div class="blog_background" style="background-image: url(/Content/GiaoDien/images/blog_1.jpg)"></div>
                        <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                            <h4 class="blog_title">Cuộc đời sáng từ đôi mắt</h4>
                            <span class="blog_meta">by MinhTuan | 12/02/2023</span>
                            <a class="blog_more" href="https://baohatinh.vn/xa-hoi/cuoc-doi-sang-tu-doi-mat-toi/163208.htm">Đọc Ngay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 blog_item_col">
                    <div class="blog_item">
                        <div class="blog_background" style="background-image: url(/Content/GiaoDien/images/blog_2.jpg)"></div>
                        <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                            <h4 class="blog_title">Có một con diều tên Hi vọng</h4>
                            <span class="blog_meta">by MinhTuan | 16/02/2023</span>
                            <a class="blog_more" href="https://vietnamnet.vn/co-mot-con-dieu-ten-hi-vong-186687.html">Đọc Ngay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 blog_item_col">
                    <div class="blog_item">
                        <div class="blog_background" style="background-image: url(/Content/GiaoDien/images/blog_3.jpg)"></div>
                        <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                            <h4 class="blog_title">Mắt kính màu trong suốt phụ kiện “chất phát ngất” của giới trẻ</h4>
                            <span class="blog_meta">by MinhTuan | 17/03/2023</span>
                            <a class="blog_more" href="https://kinhcansg.com/mat-kinh-mau-trong-suot-phu-kien-chat-phat-ngat-cua-gioi-tre">Đọc Ngay</a>
                        </div>
                    </div>
                </div>

                <div class="col text-center">

                    <div class="row blogs_container">
                        <div class="col-lg-4 blog_item_col">
                            <div class="blog_item">
                                <div class="blog_background" style="background-image: url(/Content/GiaoDien/images/tintuc.jpg)"></div>
                                <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                                    <h4 class="blog_title">Mẹ là ai?</h4>
                                    <span class="blog_meta">by MinhTuan | 13/02/2023</span>
                                    <a class="blog_more" href="https://vietnamnet.vn/me-la-ai-170559.html">Đọc Ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 blog_item_col">
                            <div class="blog_item">
                                <div class="blog_background" style="background-image: url(/Content/GiaoDien/images/tintuc2.jpg)"></div>
                                <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                                    <h4 class="blog_title">Một số đôi mắt đời</h4>
                                    <span class="blog_meta">by MinhTuan | 15/02/2023</span>
                                    <a class="blog_more" href="https://vietnamnet.vn/mot-so-doi-mat-doi-182920.html">Đọc Ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 blog_item_col">
                            <div class="blog_item">
                                <div class="blog_background" style="background-image: url(/Content/GiaoDien/images/tintuc3.jpg)"></div>
                                <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                                    <h4 class="blog_title">Thời gian không ở lại</h4>
                                    <span class="blog_meta">by MinhTuan | 18/03/2023</span>
                                    <a class="blog_more" href="https://vietnamnet.vn/thoi-gian-khong-o-lai-185385.html">Đọc Ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @section scripts{
                    <script src="~/Content/GiaoDien/js/contact_custom.js"></script>
                }
